{% extends "base.html" %}
{% block content %}
    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">

                <small class="d-block mb-3 text-muted">© 2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Customer Service</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Terms of Service</a></li>
                    <li><a class="text-muted" href="#">Privacy Policy</a></li>
                    <li><a class="text-muted" href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Links</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Blog</a></li>
                    <li><a class="text-muted" href="#">About Us</a></li>
                    <li><a class="text-muted" href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Social</h5>
                <i class="fa fa-2x mr-2 fa-facebook-square" aria-hidden="true"></i>
                <i class="fa fa-2x mr-2  fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-2x mr-2 fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-2x mr-2 fa-linkedin-square" aria-hidden="true"></i>
                <i class="fa fa-2x mr-2 fa-youtube" aria-hidden="true"></i>

            </div>
        </div>
    </footer>
{% endblock %}